@page "/banks"
@using PersonalFinance.Shared.Dtos
@using Restap.Components
@rendermode InteractiveServer

<h3>BankIndex</h3>

<PageIndex Title="Cadastro de Bancos"
           Items="Banks"
           IsActive="true">
    <Filters>

    </Filters>

    <Listing>
        @if (Banks is not null) 
        {
            @foreach (var bank in Banks) 
            {
                <Card URL="banks">
                    <span>@bank.Name</span>
                    <br>
                </Card>
            }
        }
    </Listing>
</PageIndex>

@code {
    List<BankDto>? Banks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using (var http = new HttpClient()) {
            Banks = await http.GetFromJsonAsync<List<BankDto>>("https://localhost:7222/api/Banks/GetAllBanks") ?? new();
        }

        StateHasChanged();
    }
}
