@page "/bankswasm"
@using PersonalFinance.Shared.Dtos
@rendermode InteractiveAuto

<h3>BankIndex</h3>

<PageIndex Title="Cadastro de Bancos"
           Items="Banks"
           IsActive="true">
    <Filters>

    </Filters>

    <Listing>
        @if (Banks is not null) 
        {
            @foreach (var bank in Banks) {
                <Card>
                    <span>@bank.Name</span>
                </Card>
            }
        }
    </Listing>
</PageIndex>

@code {
    List<BankDto>? Banks { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender) {
            using (var http = new HttpClient()) {
                Banks = await http.GetFromJsonAsync<List<BankDto>>("https://localhost:7222/api/Banks/GetAllBanks") ?? new();
            }
        
            StateHasChanged();
        }
    }
}
